body {
    background-color: royalblue;

}

h1, li {
    color: yellow;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    text-decoration: aqua;
    padding: 200px;
    font-size: larger;
}